:root {
  --site-color: rgb(169,36,32);
}

#headband {
  background-color: var(--site-color);
}

#logo_topleft {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

#logo_topright {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  width: 36px;
}

a {
  color: var(--site-color);
  text-decoration: none;
}
