:root {
/*  --md-accent-fg-color: #8C0500;
  --md-accent-font-color: #ef5552;
*/}


.md-grid {
  max-width: 1024px; 
}

.blog-post-aside {
  margin-top: 20px;
  margin-bottom: -30px;
  border-top:  var(--md-accent-font-color) thin solid;
}

.blog-post-preview {
  margin-bottom: 50px;
}

h2 {
    border-top:  var(--md-accent-font-color) thin solid;
    border-bottom:  var(--md-accent-font-color) thin solid;
}

div.tabbed-set {
    background-color:  #fafafa;
}

.tabbed-content {
    padding:  5px;
}

li li {
    list-style-type: circle;
}

li li li {
    list-style-type: "–";
    font-size: 0.9em;
}

.mermaid {
  display: flex;
  justify-content: center;
}
